*{
    padding: 0px;
    margin: 0px;
    font-family:'微软雅黑';
}
html, body{
    height: 100%;
}
#app{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
#main_page{
    height: 100%;
    width: 100%;
    display: flex;

}
#navigation{
    height: 100%;
    width: 30%;
    background: rgb(214, 214, 214);
    position: relative;
}
.nav_item{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    transition: all ease .3s;
}
.nav_item:hover{
    background:  rgb(180, 180, 180);
}
.nav_item_img{
    padding: 9px;
}
.nav_item_text{
    cursor: default;
}
#nav_setting{
    position: absolute;
    bottom: 10px;
}
.nav_mark{
    position: absolute;
    top:0px;
    left: 0px;
    height: 46px;
    width: 3px;
    margin-top: 2px;
    background: grey;
}
#section{
    height: 100%;
    width: 70%;

}
#home_section{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#home_broad{
    height: 200px;
    width: 100%;
    background: grey;
}
#home_search{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home_search_box{
    width: 250px;
    height: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid grey;
}
#home_search_box:focus{
    outline:none;
}
#home_search_bt{
    width: 40px;
    height: 20px;
    border: 2px solid grey;
    margin: 5px;
    cursor: pointer;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sort_section{
    height: 100%;
    width: 100%;
}
#sort_head{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
}
.sort_head_item{
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}
#sort_head_mark{
    height: 2px;
    width: 30px;
    margin: 5px;
    margin-top: 0px;
    background: blue;
}
.sort_item{
    width: 100%;
    display: flex;
}
.sort_book{
    height: 120px;
    width: 90px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 10px grey;
    background: rgb(127, 122, 139);
}
.sort_book_info{
    width: 400px;
}
.sort_book_name{
    cursor: pointer;
    font-size: 18px; 
    margin: 20px; 
    margin-left:0px; 
    margin-bottom: 10px;
}
#sort_refresh{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    background: rgb(218, 218, 218);
}
#shelf_section{
    width: 100%;
    height: 100%;
}
#shelf_head{
    width: 100%;
    height: 50px;
    display: flex;
    direction: rtl;
}
.shelf_button{
    top: 10px;
    right: 10px;
    margin: 10px;
    padding:2px;
    cursor: pointer;
    border: solid 2px grey;
}
#shelf_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}
.shelf_book{
    position: relative;
    height: 120px;
    width: 90px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 4px 12px 10px grey;
    background: rgb(127, 122, 139);
}
.shelf_book_mark{
    height: 20px;
    width: 41px;
    background: red;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shelf_book_cover{
    position: absolute;
    height: 98%;
    width: 1px;
    top: 0px;
    left: 2px;
    background: rgb(95, 95, 95);
}
.shelf_book_name{
    font-size: 15px;
    color: white;
    margin: 7px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.shelf_book_bottom{
    height: 7px;
    width: 94%;
    margin-top: 61px;
    border: solid 1px rgb(180, 180, 180);
    border-left:  solid 3px rgb(180, 180, 180);
    border-right: none;
    border-radius: 2px;
    border-top-right-radius: 0px;
    background: linear-gradient(40deg, white, rgb(204, 204, 204));
}
#read_background{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: red;
    z-index: 1;
}
#read_page{
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    background: rgb(236, 236, 236);
     z-index: 9;
}
#read_list{
    position: absolute;
    height: calc(100% - 2px);
    width: 250px;
    background: white;
    top: 0px;
    left: 0px;
    z-index: 999;
    /* overflow: auto */
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
}
#read_list_head{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
}
#read_list_content{
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}
#read_setting{
    position: absolute;
    height: calc(100% - 2px);
    width: 300px;
    background: white;
    top: 0px;
    right: 0px;
    z-index: 999;
    border: 1px solid rgb(236, 236, 236);
}
#read_setting_title{
    width: 100%;
    height: 30px;
    display: flex;
    direction: rtl;
}
#read_setting_close{
    width: 16px; 
    height: 16px; 
    margin: 7px;
}
.read_setting_text{
    font-size: 14px;
    margin: 10px;
}
.read_setting_item{
    display: flex;
    align-items: center;
}
.read_setting_select{
    border: 2px solid grey;

}
.read_setting_select:focus{
    outline: none;
}
#read_content{
    /* height: 100%; */
    width: 65%;
    position: relative;
    /* overflow: hidden; */
}
.read_list_caption{
    font-size: 12px; 
    margin: 10px;
}
.card_view{
    border: solid 1px rgb(189, 189, 189);
    margin-top: 10px;
    margin: 10px;
    padding: 60px;
    background: white;
    white-space:pre-wrap
}
#read_book_caption{
    font-size: 25px;
    margin-bottom: 0px;
}
#read_book_info{
    display: flex;
    color: grey;
    font-size: 12px;
    margin: 10px;
}
.read_book_text{
    font-size: 18px;
}
#read_control_pannel{
    position: absolute;
    right: -60px;
    bottom: 40px;

}
#read_control_button{
    height: 50px;
    width: 50px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(190, 181, 181);
    background: white;
}
#scroll_bar{
    height: 100%;
    width: 15px;
    border-left: 1px solid grey;
    position: absolute;
    top: 0px;
    right: 0px;
    background: white;
    display: flex;
}
#scroll_block{
    height: 50px;
    width: 13px;
    margin-left: 1px;
    margin-right: 1px;
    background: rgb(190, 190, 190);
}
/** 控件部分 */
/** windows风格 */
.win_button{
    border: 2px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    text-align: center;
}
.win_input{
    border-bottom: 2px solid grey;
}
.win_input:focus{
    outline: none;
}
.win_select{
    border: 2px solid grey;
}