*{
    padding: 0px;
    margin: 0px;
    font-family:'微软雅黑';
}
html, body{
    height: 100%;
}
#app{
    height: 100%;
    width: 100%;
    display: flex;
}
#readPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(214, 214, 214);
}
#content{
    height: 100%;
    width: 70%;
    background: white;
}
#book_title{
    font-size: 30px;
    margin: 20px;
    margin-bottom: 0px;
}
#book_info{
    display: flex;
    color: grey;
    font-size: 12px;
    margin: 10px;
}
#return{
    position: absolute;
    left: 680px;
    top: 480px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background: white;
}

