*{
    padding: 0px;
    margin: 0px;
    font-family:'微软雅黑';
}
html, body{
    height: 100%;
}
#app{
    height: 100%;
    width: 100%;
    display: flex;
}
#mainPage{
    height: 100%;
    width: 100%;
    display: flex;

}
#navigation{
    height: 100%;
    width: 30%;
    background: rgb(214, 214, 214);
}
.nav_item{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    transition: all ease .3s;
}
.nav_item_img{
    padding: 9px;
}
.nav_item_text{
    cursor: default;
}
#content{
    height: 100%;
    width: 70%;
}
#headView{
    width: 100%;
    height: 50px;
    /* display: flex;
    align-items: center; */
    /* background: red; */
}
#import{
    float:right;
    margin: 10px;
    padding:2px;
    border: solid 2px grey;
    /* background: red; */
}
#shelf{

}
.book{
    height: 120px;
    width: 90px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px grey;
    background: rgb(127, 122, 139);
}
.mark{
    height: 20px;
    width: 41px;
    background: red;
    color: white;
    margin: 5px;
}
.book_name{
    font-size: 15px;
    color: white;
    margin: 13px;
}
.book_bottom{
    height: 7px;
    width: 98%;
    margin-top: 58px;
    border: solid 1px grey;
    border-radius: 2px;
    background: white;
}