<div id="navigation" class="fluent_navigation">
    <div id="" class="nav_item" v-on:click="nav_home_click">
        <img class="nav_item_img" src="./Resource/Image/32px/home.png" />
        <p class="nav_item_text">主页</p>
    </div>
    <div id="" class="nav_item" v-on:click="nav_rank_click">
        <img class="nav_item_img" src="./Resource/Image/32px/rank.png" />
        <p class="nav_item_text">排行榜</p>
    </div>
    <div id="" class="nav_item" v-on:click="nav_sort_click">
        <img class="nav_item_img" src="./Resource/Image/32px/sort.png" />
        <p class="nav_item_text">分类</p>
    </div>
    <div id="" class="nav_item" v-on:click="nav_shelf_click">
        <img class="nav_item_img" src="./Resource/Image/32px/shelf.png" />
        <p class="nav_item_text">书架</p>
    </div>
    <div id="nav_setting" class="nav_item" v-on:click="nav_setting_click">
        <img class="nav_item_img" src="./Resource/Image/32px/setting.png" />
        <p class="nav_item_text">设置</p>
    </div>
    <div class="nav_mark" v-bind:style="{top:nav_mark_top+'px', bottom:nav_mark_bottom+'px'}"> </div>
</div>
<div id="section">
    <div id="home_section" v-if="active_section=='home_section'">
        <div id="home_board">
            <img src="./Resource/Image/tf.jpg" style="height: 100%; width:100%;" />
        </div>
        <div id="home_search">
            <input id="home_search_box" class="fluent_input" contenteditable="true" />
            <div id="home_search_button" class="fluent_button">搜索</div>
        </div>
        <div style="margin: 10px; font-size: 16px;">推荐</div>
        <div id="home_list">
            <template v-for="net_book in net_books">
                <div class="sort_item">
                    <div class="home_book">
                        <img class="home_book_image" v-bind:src="net_book.image" />
                    </div>
                    <div class="home_book_info">
                        <p class="home_book_name" v-on:click="home_book_click(net_book)">{{net_book.name}}</p>
                        <p style="font-size: 12px; color:grey;">{{net_book.info}}</p>
                        <p style="font-size: 12px; color: grey; margin-top: 20px;">{{net_book.author}}</p>
                    </div>
                </div>
            </template>
        </div>
        <div id="home_refresh_button" class="fluent_float_button">
            <img src="./Resource/Image/32px/refresh.png" style="height: 32px; width:32px;margin: 4px;" />
        </div>
    </div><!-- home_section -->
    <div id="rank_section" v-else-if="active_section=='rank_section'">
        <div style="margin: 10px;">网络未连接</div>
        <div style="margin: 10px;color: grey;">（实际上网络部分没做好..）</div>
    </div><!-- rank_section -->
    <div id="sort_section" v-else-if="active_section=='sort_section'">
        <div id="sort_head">
            <ul class="fluent_head_navigation">
                <li class="fluent_nav_item">玄幻</li>
                <li class="fluent_nav_item">奇幻</li>
                <li class="fluent_nav_item">武侠</li>
                <li class="fluent_nav_item">仙侠</li>
                <li class="fluent_nav_item">都市</li>
                <li class="fluent_nav_item">现实</li>
                <li class="fluent_nav_item">军事</li>
                <li class="fluent_nav_item">历史</li>
            </ul>
        </div>
        <div id="sort_head_mark"></div>
        <div class="sort_list">
            <div style="margin: 10px;">网络未连接</div>
            <div style="margin: 10px;color: grey;">（实际上网络部分没做好..）</div>
            <div class="sort_item">
                <div class="sort_book">
                    <img src="./Resource/Image/book.jpg" />
                </div>
                <div class="sort_book_info">
                    <p class="sort_book_name">斗破苍穹</p>
                    <p style="font-size: 12px; color:grey;">这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！</p>
                    <p style="font-size: 12px; color: grey; margin-top: 35px;">天蚕土豆</p>
                </div>
            </div>
            <div class="sort_item">
                <div class="sort_book">
                    <img src="./Resource/Image/book2.jpg" />
                </div>
                <div class="sort_book_info">
                    <p class="sort_book_name">斗罗大陆</p>
                    <p style="font-size: 12px; color:grey;">
                        唐门外门弟子唐三，因偷学内门绝学为唐门所不容，跳崖明志时却发现没有死，反而以另外一个身份来到了另一个世界，一个属于武魂的世界，名叫斗罗大陆。</p>
                    <p style="font-size: 12px; color: grey; margin-top: 20px;">唐家三少</p>
                </div>
            </div>
        </div>
        <div id="sort_refresh_button" class="fluent_float_button">
            <img src="./Resource/Image/32px/refresh.png" style="height: 32px; width:32px;margin: 4px;" />
        </div>
    </div><!-- sort_section -->
    <div id="shelf_section" v-else-if="active_section == 'shelf_section'">
        <div id="shelf_head">
            <p id="shelf_import_button" class="fluent_button" v-on:click="shelf_import_click">本地导入</p>
            <p id="shelf_outport_button" class="fluent_button" v-on:click="shelf_export_click">导出</p>
        </div>
        <div id="shelf_content">
            <template v-for="book in books">
                <!--oncontextmenu-->
                <div class="shelf_book" v-on:click="book_click(book)" @click.right="book_rightMenu(book)">
                    <div class="shelf_book_mark">
                        <p style="font-size: 12px; color:rgb(127, 122, 139)">有更新</p>
                    </div>
                    <div class="shelf_book_cover"></div>
                    <p class="shelf_book_name">{{book.name}}</p>
                    <div class="shelf_book_bottom"></div>

                </div>
            </template>
        </div>

    </div><!-- shelf_section -->
    <div id="setting_section" v-else-if="active_section == 'setting_section'">
        <div style="display: flex; margin: 10px;">
            <p>小说源：</p>
            <select>
                <option value="书包网" selected="selected">书包网</option>
                <option value="笔趣阁">笔趣阁</option>
            </select>
        </div>
        <div style="display: flex; margin: 10px;">
            <p>主 题：</p>
            <select>
                <option value="白色主题" selected="selected">白色主题</option>
                <option value="黑色主题">黑色主题</option>
            </select>
        </div>
        <div style="display: flex; margin: 10px;">
            <p>外 观：</p>
            <select>
                <option>Material风格</option>
                <option selected="selected">Windows风格</option>
                <option>OSX风格</option>
            </select>
        </div>
        <div style="display: flex; margin: 10px;">
            <p>章节切割：</p>
            <select  v-model="is_slice">
                <option value="true">普通切割</option>
                <option value="true" selected="selected">智能切割</option value="true">
                <option value="false">不切割</option>
            </select>
        </div>
    </div>
</div>